.article 
	&:hover 
		box-shadow 0 0 20px 2px rgba(129, 167, 215, 0.1)
.single 
	position relative
	animation fadeInLeft 1.5s infinite
	-webkit-animation fadeInLeft 1.5s infinite
	animation-direction normal
	-webkit-animation-direction normal
	animation-iteration-count 1
	-webkit-animation-iteration-count 1
.double 
	position relative
	animation fadeInRight 1.5s infinite
	-webkit-animation fadeInRight 1.5s infinite
	animation-direction normal
	-webkit-animation-direction normal
	animation-iteration-count 1
	-webkit-animation-iteration-count 1
h1 
	font-size 2.2em
	font-weight 700
	line-height 1.1
	padding-top 16px
	margin-bottom 4px
h2, h3, h4, h5, h6 
	line-height 1.5em
	margin-top 2.2em
	margin-bottom 4px
h2 
	font-size 1.4em
	margin 40px 10px 20px 0
	padding-left 9px
	border-left 6px solid #ff7e79
	font-weight 700
	line-height 1.4
h3 
	font-weight 700
	font-size 1.2em
	line-height 1.4
	margin 10px 0 5px
	padding-top 10px
h4 
	font-weight 700
	text-transform uppercase
	font-size 1.1em
	line-height 1.4
	margin 10px 0 5px
	padding-top 10px
h5, h6 
	font-size .9em
h5 
	font-weight bold
	text-transform uppercase
h6 
	font-weight normal
	color #AAA
img 
	max-width 100%
dl, ol, ul 
	margin-top 12px
	margin-bottom 20px
	padding-left 5%
	line-height 1.8
p 
	margin 0 0 20px
	padding 0
	line-height 1.8
a 
	color #f22f27
	text-decoration none
	&:hover 
		color #f55852
	&:focus 
		outline-offset -2px
blockquote 
	font-size 1em
	font-style normal
	padding 30px 38px
	margin 0 0 15px
	position relative
	line-height 1.8
	text-indent 0
	border none
	color #888
	&:before 
		content "“"
		left 12px
		top 0
		color #E0E0E0
		font-size 4em
		font-family Arial, serif
		line-height 1em
		font-weight 700
		position absolute
	&:after 
		content "”"
		right 12px
		bottom -26px
		color #E0E0E0
		font-size 4em
		font-family Arial, serif
		line-height 1em
		font-weight 700
		position absolute
		bottom -31px
strong, dfn 
	font-weight 700
em, dfn 
	font-style italic
	font-weight 400
del 
	text-decoration line-through
figure 
	margin 1em 0
	img 
		margin-bottom 0px
figcaption 
	font-size 0.75em
	padding 0.5em 2em
	margin-bottom 2em
hr 
	margin-top 20px
	margin-bottom 20px
	border 0
	border-top 1px solid #eee
ol p, ul p 
	margin-bottom 0px
li 
	margin-bottom 0.75em
	margin-top 0.75em
ol#footnotes 
	font-size 0.95em
	padding-top 1em
	margin-top 1em
	margin-left 0
	border-top 1px solid #eaeaea
	counter-reset footer-counter
	list-style none
	color #555
	padding-left 5%
	margin 20px 0
	li 
		margin-bottom 10px
		margin-left 16px
		font-weight 400
		line-height 2
		list-style-type none
		&:before 
			content counter(footer-counter) ". "
			counter-increment footer-counter
			font-weight 800
			font-size .95em



@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
