body 
	font-size 15px
	color #333
	background #fff
	font-family Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif"
h1 
	font-size 2.2em
	font-weight 700
	line-height 1.1
	padding-top 16px
	margin-bottom 4px
h2, h3, h4, h5, h6 
	line-height 1.5em
	margin-top 2.2em
	margin-bottom 4px
h2 
	font-size 1.4em
	margin 40px 10px 20px 0
	padding-left 9px
	border-left 6px solid #ff7e79
	font-weight 700
	line-height 1.4
h3 
	font-weight 700
	font-size 1.2em
	line-height 1.4
	margin 10px 0 5px
	padding-top 10px
h4 
	font-weight 700
	text-transform uppercase
	font-size 1.1em
	line-height 1.4
	margin 10px 0 5px
	padding-top 10px
h5, h6 
	font-size .9em
h5 
	font-weight bold
	text-transform uppercase
h6 
	font-weight normal
	color #AAA
img 
	width 100%
	border-radius 5px
	display block
	margin-bottom 15px
	height auto
.emoji
	width auto !important
dl, ol, ul 
	margin-top 12px
	margin-bottom 20px
	padding-left 5%
	line-height 1.8
p 
	margin 0 0 20px
	padding 0
	line-height 1.8
	& > code 
		font-size .95em
		border-radius 3px
		-moz-border-radius 3px
		-webkit-border-radius 3px
blockquote 
	font-size 1em
	font-style normal
	padding 30px 38px
	margin 0 0 15px
	position relative
	line-height 1.8
	text-indent 0
	border none
	color #888
	&:before 
		content "“"
		left 12px
		top 0
		color #E0E0E0
		font-size 4em
		font-family Arial, serif
		line-height 1em
		font-weight 700
		position absolute
	&:after 
		content "”"
		right 12px
		bottom -26px
		color #E0E0E0
		font-size 4em
		font-family Arial, serif
		line-height 1em
		font-weight 700
		position absolute
		bottom -31px
strong, dfn 
	font-weight 700
em, dfn 
	font-style italic
	font-weight 400
del 
	text-decoration line-through

code, pre 
	font-family Monaco, Andale Mono, Courier New, monospace

code
	width 100%
	background-color #f5f5f5 !important
	color #bd4147 !important
	box-shadow none !important

pre 
	display block
	padding 14px
	margin 0 0 18px
	line-height 1.45
	font-size 85%
	white-space pre-wrap
	word-wrap break-word
	code 
		background-color none !important
		color none !important
		font-size 11px
		padding 0
figure 
	margin 1em 0
	img 
		margin-bottom 0px
figcaption 
	font-size 0.75em
	padding 0.5em 2em
	margin-bottom 2em
hr 
	margin-top 20px
	margin-bottom 20px
	border 0
	border-top 1px solid #eee
ol p, ul p 
	margin-bottom 0px
li 
	margin-bottom 0.75em
	margin-top 0.75em
	overflow hidden
	white-space nowrap
ol#footnotes 
	font-size 0.95em
	padding-top 1em
	margin-top 1em
	margin-left 0
	border-top 1px solid #eaeaea
	counter-reset footer-counter
	list-style none
	color #555
	padding-left 5%
	margin 20px 0
	li 
		margin-bottom 10px
		margin-left 16px
		font-weight 400
		line-height 2
		list-style-type none
		&:before 
			content counter(footer-counter) ". "
			counter-increment footer-counter
			font-weight 800
			font-size .95em
